@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--scroll-track: rgb(24 24 27);
	--scroll-thumb: rgb(255 255 255);
	--scroll-track-hover: rgb(63, 63, 70);
	--scroll-thumb-hover: rgb(212 212 216);
	--bg-tooltip: rgb(244 244 245);
}

::-webkit-scrollbar {
	height: 5px;
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background: var(--scroll-thumb);
	border-radius: 50px;
}

::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
	background: var(--scroll-thumb-hover);
}

::-webkit-scrollbar-track {
	width: 5px;
	border-radius: 50px;
	background: var(--scroll-track);
}

::-webkit-scrollbar-track:active,
::-webkit-scrollbar-track:hover {
	background:var(--scroll-track-hover);
}

::-webkit-scrollbar-corner{
	background: transparent;
}
.pkmn-detail {
	transform: skew(-20deg);
}
.pkmn-detail > span {
	display: block;
	transform: skew(20deg);
}
.bg-normal {
	background: #a8a77a;
}
.bg-fire {
	background: #ee8130;
}
.bg-water {
	background: #6390f0;
}
.bg-electric {
	background: #f7d02c;
}
.bg-grass {
	background: #7ac74c;
}
.bg-ice {
	background: #96d9d6;
}
.bg-fighting {
	background: #c22e28;
}
.bg-poison {
	background: #a33ea1;
}
.bg-ground {
	background: #e2bf65;
}
.bg-flying {
	background: #a98ff3;
}
.bg-psychic {
	background: #f95587;
}
.bg-bug {
	background: #a6b91a;
}
.bg-rock {
	background: #b6a136;
}
.bg-ghost {
	background: #735797;
}
.bg-dragon {
	background: #6f35fc;
}
.bg-dark {
	background: #705746;
}
.bg-steel {
	background: #b7b7ce;
}
.bg-fairy {
	background: #d685ad;
}
.bg-questions {
	background: #9dc1b7;
}

.selector-anim {
	width: 120vw;
	background: repeating-linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 40px, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.2) 80px);
	animation: pb-bg 75s ease-in-out infinite;
}

.picks-anim {
	width: 100vw;
	background: repeating-linear-gradient(60deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 40px, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.2) 80px);
	animation: pb-bg 75s ease-in-out infinite;
}

.next-pick-anim {
	animation: pb-next 5s ease-in-out infinite;
}

@keyframes pb-bg {
	0% {
		transform: translateX(-20vw); 
	}
	50% {
		transform: translateX(0vw);
	}
	100% {
		transform: translateX(-20vw);
	}
}

@keyframes pb-next {
	0% {
		opacity: 0.5; 
	}
	50% {
		opacity: 1; 
	}
	100% {
		opacity: 0.5; 
	}
}